body{
	padding: 20px;
	font-family: 'Lato', sans-serif;
	overflow-x:hidden;
}
.output{ 
	color: #888; 
	font-size: 14px; 
	padding-top: 1px; 
	margin-left: 5px; 
	vertical-align: top;
}

.result0 {
	margin-top: 15px;
	color: blue;
}
.result1 {
	margin-top: 20px;
	color: red;
}


.legend table {
	border-spacing: 5px;
}

input[type=range]{
	min-width: 200px;
}

.table th{
	text-align: right;
}
.table td{
	min-width: 50px;
}

.sliderTitle{
	text-align: center;
	color: RoyalBlue;
	font-weight: 700;
}